In [21]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,clouds,date,device,humidity,lat,location,lon,pressure,temp,type,userId,visibility,weatherCond,windDeg,windSpeed,zip,zipcode
0,NaN,NaN,2018-04-14T14:40:19.809Z,Alexa,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Clear,NaN,NaN,NaN,10927
1,NaN,NaN,2018-04-24T15:10:19.927Z,Alexa,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Partly Cloudy,NaN,NaN,NaN,10927
2,NaN,NaN,2018-04-26T19:32:42.438Z,Alexa,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Clear,NaN,NaN,NaN,10927
3,NaN,NaN,2018-05-04T11:01:32.129Z,Alexa,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Light Rain,NaN,NaN,NaN,10927
4,NaN,NaN,2018-05-07T11:37:33.277Z,Alexa,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,Clear,NaN,NaN,NaN,10927

In [25]:
# df.head()
hot_df =[df.type == 0]
hot_df.head()
# df['clouds'] = df.fillna(df['clouds'].mean())
# df['humidity'] = df.fillna(df['humidity'].mean())
# df['visibility'] = df.fillna(df['visibility'].mean())
# df['pressure'] = df.fillna(df['pressure'].mean())
# df['temp'] = df.fillna(df['temp'].mean())
# df['windDeg'] = df.fillna(df['windDeg'].mean())
# df['windSpeed'] = df.fillna(df['windSpeed'].mean())

AttributeError: 'list' object has no attribute 'head'

In [17]:
df.head()

,Unnamed: 0,clouds,date,device,humidity,lat,location,lon,pressure,temp,type,userId,visibility,weatherCond,windDeg,windSpeed,zip,zipcode
0,NaN,43.8628,2018-04-14T14:40:19.809Z,Alexa,68.9834,NaN,NaN,NaN,1016.82,56.5532,0,NaN,14638.9,Clear,187.752,7.49782,NaN,10927
1,NaN,43.8628,2018-04-24T15:10:19.927Z,Alexa,68.9834,NaN,NaN,NaN,1016.82,56.5532,0,NaN,14638.9,Partly Cloudy,187.752,7.49782,NaN,10927
2,NaN,43.8628,2018-04-26T19:32:42.438Z,Alexa,68.9834,NaN,NaN,NaN,1016.82,56.5532,0,NaN,14638.9,Clear,187.752,7.49782,NaN,10927
3,NaN,43.8628,2018-05-04T11:01:32.129Z,Alexa,68.9834,NaN,NaN,NaN,1016.82,56.5532,0,NaN,14638.9,Light Rain,187.752,7.49782,NaN,10927
4,NaN,43.8628,2018-05-07T11:37:33.277Z,Alexa,68.9834,NaN,NaN,NaN,1016.82,56.5532,0,NaN,14638.9,Clear,187.752,7.49782,NaN,10927

In [19]:
df.to_csv('data.csv')