In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data.csv', index_col=0)
# data.head()
data['type'].value_counts()

1    278
0     19
Name: type, dtype: int64

In [3]:
def convertCoffeeType(x):
    if x == 2:
        return 1
    else:
        return x
    
data['type'] = data['type'].apply(convertCoffeeType)
# data.type
d = pd.value_counts(data['type'].values)
d

1    278
0     19
dtype: int64

In [4]:
# convert date
import datetime as dt
data['date'] = pd.to_datetime(data['date'])
data['date']=data['date'].map(dt.datetime.toordinal)

In [5]:
d = pd.value_counts(data['type'].values)
d

1    278
0     19
dtype: int64

In [6]:
data.head()

,clouds,date,device,humidity,lat,location,lon,pressure,temp,type,userId,visibility,weatherCond,windDeg,windSpeed,zipcode
01125B66-EB0B-455F-8672-48E6413510A5,1,736703,IOS,48,41.200001,West Haverstraw,-73.989998,1020,40.0,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,Partly Cloudy,300.000,17.0,10923
01EAB7E7-D5EB-407A-A307-CC8CEF6AB7F0,90,736496,IOS,82,40.730000,Hoboken,-74.040000,1015,65.0,1,DvGx1A7L7wNN9Han9GjEm08Mb7t2,16093,Overcast,130.000,6.0,7310
0230E916-2DDC-4721-AC51-441FD7A60F39,90,736478,IOS,100,41.200000,West Haverstraw,-73.990000,1014,56.0,1,6eUdqOHk4YhcgJo2CqkSv8PI7ZF3,4828,Overcast,116.501,3.0,10923
03567C18-EC38-4A51-AD35-65D8ADACF0EF,90,736668,IOS,87,40.710000,New York,-74.010000,1022,55.0,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,Overcast,0.000,4.0,10002
03817C89-1E06-492A-A5ED-AFDE8612C06E,40,736728,IOS,62,41.139999,New City,-73.989998,1029,21.0,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,32186,Clear,260.000,13.0,10956

In [99]:
#one-hot encode type
coffee = pd.get_dummies(data['type'])
data = pd.concat([data, coffee], axis=1)

In [15]:
d = pd.value_counts(data['type'].values)
d

Series([], dtype: int64)

In [9]:
#drop un-neccessary cols
data = data.drop(['location', 'weatherCond', 'device'], axis=1)
data.head()

,clouds,date,humidity,lat,lon,pressure,temp,type,userId,visibility,windDeg,windSpeed
01EAB7E7-D5EB-407A-A307-CC8CEF6AB7F0,90,736496,82,40.73,-74.04,1015,65.00,1,DvGx1A7L7wNN9Han9GjEm08Mb7t2,16093,130.000000,6.00
0230E916-2DDC-4721-AC51-441FD7A60F39,90,736478,100,41.20,-73.99,1014,56.00,1,6eUdqOHk4YhcgJo2CqkSv8PI7ZF3,4828,116.501000,3.00
03567C18-EC38-4A51-AD35-65D8ADACF0EF,90,736668,87,40.71,-74.01,1022,55.00,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,0.000000,4.00
03B00035-A25A-4590-94F7-090CC9E614D9,1,736633,75,40.92,-73.91,1016,43.00,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,257.502991,9.00
04b593d0-5dd7-11e7-8932-b96748e46eb9,75,736510,66,41.20,-73.97,1012,87.37,1,0,24140,250.000000,5.82

In [10]:
#save csv
data.to_csv('data.csv')

In [103]:
#read from csv
data = pd.read_csv('data.csv')