In [1]:
import numpy as np
import pandas as pd
import download

In [2]:
data = download.saveFile()
data.fillna(0, inplace=True)

In [3]:
# convert date
import datetime as dt
data['date'] = pd.to_datetime(data['date'])
data['date']=data['date'].map(dt.datetime.toordinal)

In [6]:
d = pd.value_counts(data['type'].values)
d

1    162
2     64
0     15
dtype: int64

In [7]:
#rename type col
for index,rows in data.iterrows():
    if (data.loc[index, 'type'] == 0 or data.loc[index, 'type'] == 2):
        data.loc[index, 'type'] = '0'
    if (data.loc[index, 'type'] == 1):
        data.loc[index, 'type'] = '1'
data.head()

,clouds,date,humidity,lat,location,lon,pressure,temp,type,userId,visibility,weatherCond,windDeg,windSpeed,device
01EAB7E7-D5EB-407A-A307-CC8CEF6AB7F0,90,736496,82,40.73,Hoboken,-74.04,1015,65.00,1,DvGx1A7L7wNN9Han9GjEm08Mb7t2,16093,,130.000000,6.00,0
0230E916-2DDC-4721-AC51-441FD7A60F39,90,736478,100,41.20,West Haverstraw,-73.99,1014,56.00,1,6eUdqOHk4YhcgJo2CqkSv8PI7ZF3,4828,,116.501000,3.00,0
03567C18-EC38-4A51-AD35-65D8ADACF0EF,90,736668,87,40.71,New York,-74.01,1022,55.00,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,,0.000000,4.00,0
03B00035-A25A-4590-94F7-090CC9E614D9,1,736633,75,40.92,Yonkers,-73.91,1016,43.00,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,,257.502991,9.00,0
04b593d0-5dd7-11e7-8932-b96748e46eb9,75,736510,66,41.20,Haverstraw,-73.97,1012,87.37,1,0,24140,,250.000000,5.82,Alexa

In [99]:
#one-hot encode type
coffee = pd.get_dummies(data['type'])
data = pd.concat([data, coffee], axis=1)

In [8]:
d = pd.value_counts(data['type'].values)
d

1    162
0     79
dtype: int64

In [9]:
#drop un-neccessary cols
data = data.drop(['location', 'weatherCond', 'device'], axis=1)
data.head()

,clouds,date,humidity,lat,lon,pressure,temp,type,userId,visibility,windDeg,windSpeed
01EAB7E7-D5EB-407A-A307-CC8CEF6AB7F0,90,736496,82,40.73,-74.04,1015,65.00,1,DvGx1A7L7wNN9Han9GjEm08Mb7t2,16093,130.000000,6.00
0230E916-2DDC-4721-AC51-441FD7A60F39,90,736478,100,41.20,-73.99,1014,56.00,1,6eUdqOHk4YhcgJo2CqkSv8PI7ZF3,4828,116.501000,3.00
03567C18-EC38-4A51-AD35-65D8ADACF0EF,90,736668,87,40.71,-74.01,1022,55.00,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,0.000000,4.00
03B00035-A25A-4590-94F7-090CC9E614D9,1,736633,75,40.92,-73.91,1016,43.00,1,KeAdoRGcxYfNNQeAfvMG5DFj5zB3,16093,257.502991,9.00
04b593d0-5dd7-11e7-8932-b96748e46eb9,75,736510,66,41.20,-73.97,1012,87.37,1,0,24140,250.000000,5.82

In [10]:
#save csv
data.to_csv('data.csv')

In [103]:
#read from csv
data = pd.read_csv('data.csv')